:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #3060FF;
    --border-color: #dbdbdb;
}

*{
    box-sizing: inherit;
}

html{
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}

.grid__column-sidebar{
    display: none;
}

.grid__column-content{
    width: 100%;
    padding: 0 16px;
}

.center-with-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav-item:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.header-nav-item{
    font-weight: 700;
}

.header-search{
    width: 440px;
    height: 100%;
    border-radius: 8px;
    background-color: var(--white-color);
    padding: 4px 0 4px 10px;
    overflow: hidden;
}

.header-search-textbox{
    color: var(--black-color);
    border: none;
    outline: none;
    font-size: 16px;
    width: 90%;
}

.header-search-icon{
    padding: 10px;
}